<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Renalo</title>
    <meta name="logo-url" content="{{logoUrl}}" />
    <meta name="logo-extended-url" content="{{logoExtendedUrl}}" />
    {{favicon}}
    {{styles}}
    {{loaderStyle}}
  </head>
  <body>
    {{loaderHtml}}
    <div id="root"></div>
    <script type="module" src="{{script}}"></script>
  </body>
</html>
